<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>🌞</title>
</head>
<body>
<h2>회원 정보 (mvc - jdbcDaoSupport)</h2>

<a href="insert">추가</a> &emsp;
<!-- 서버에서 해석해서 브라우저에 던진것임, 브라우저는 html만 해석할 수 있다.(=> thymeleaf는 서버사이드 템플릿 엔진이다.) -->
<!-- <a th:href="@{delete}">삭제</a> -->

<th:block th:if="${list.size >0}">
<table>
	<tr>
		<th>아이디</th><th>회원명</th>
	</tr>
	<tr th:each="mem:${list}">
		<td>[[${mem.id}]]</td>
		<!-- <td>[[${mem.name}]]</td> -->
		<!-- <td><a th:href="@{/detail(id='${mem.id}')}" th:text="${mem.name}">name</a> </td> -->
		<td><a th:href="@{/detail(id=${mem.id})}">[[${mem.name}]]</a> </td>
	</tr>
</table>
</th:block>
</body>
</html>